<!DOCTYPE html>
<html>

  <head>
    <title>Craig Buchek's résumé</title>

    <meta name="description" content="Craig Buchek's résumé">

    <style type="text/css">
      body { font-family: Arial; font-size: 12pt; line-height: 1.25; }
      h1:first-of-type { font-family: Arial; font-size: 30pt; font-variant: small-caps; font-weight: 500; margin-top: -8pt; margin-bottom: -8pt; float: left; }
      h1:first-of-type+p, h1:first-of-type+p+p+p { clear: both; float: left; margin: 3pt; }
      h1:first-of-type+p+p, h1:first-of-type+p+p+p+p { float: right; margin: 3pt; }
      h2 { font-size: 14pt; page-break-after: avoid; }
      h3 { font-size: 12pt; page-break-before: auto; }
      hr { clear: both; }
      ul { page-break-before: avoid; }
      #principal-software-engineer-at-binary-noggin-2019---2021 { page-break-before: always; }
      #education { page-break-before: always; }

      @media print {
        @page {
            size: letter;
            margin-top: 20pt;
            margin-bottom: 12pt;
            margin-left: 48pt;
            margin-right: 48pt;
        }
        body { font-size: 9.5pt; }
        h2 { font-size: 11.5pt; page-break-after: avoid; }
        h3 { font-size: 9.5pt; page-break-before: auto; }
      }
    </style>
  </head>

  <body>
<%= @body %>
  </body>

</html>
