<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">

    <title>Résumé - Craig Buchek</title>

    <meta name="description" content="Craig Buchek's résumé">

    <style type="text/css">
      h1:first-of-type { font-size: 30px; }
      #craig-m-buchek+p { float: left; }
      #craig-m-buchek+p+p { float: right; }
      hr { clear: both; }
      #professional-experience { page-break-before: always; }
    </style>
  </head>

  <body>
<%= @body %>
  </body>

</html>
